---
---
@import "{{ site.theme}}";
header {
  img {
    border-radius: 50%;
  }
  p {
    text-align: center;
  }
  p.view {
    text-align: left;
  }
  a {color: #CC0000;}
  a:hover {color: #7a0000
          }

}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
}

.header-content{width: 100%;
                margin: 0;
                padding: 20px;
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
          }


        nav{font-family: Inter, sans-serif;
              margin: 0; 
              position: absolute;
              top: 0;
              right: 0;
             }

          nav ul {display: flex; 
                  list-style: none; 
                  margin: 0;
                 }
          nav ul li {margin-left: 20px
              }
          nav ul li:last-child {margin-right: 0;
}

          nav ul li a {
              text-decoration: none;
              font-size: 18px;
              }

