---
---
@import "{{ site.theme}}";
header {
  img {
    border-radius: 50%;
  }
  p {
    text-align: center;
  }
  p.view {
    text-align: left;
  }
  a {color: #CC0000;}
  a:hover {color: #7a0000
          }

}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
}

.header-content{width: 100%;
                margin: 0 auto;
                padding: 20px;
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 0;
          }

.header-content h1 {color: #CC0000;
}

        nav{font-family: Arial, sans-serif;
              margin-bottom: 0; 
              margin-left: auto;
             }

          nav ul {display: flex; 
                  list-style: none; 
                  margin: 0
                 }
          nav ul li {margin-right: 20px
              }
          nav ul li a {color: #CC0000;
              text-decoration: none;
              font-size: 18px;
              }
          nav ul li a:hover {color: #7a0000
          }
